.cart-container {
    padding: 4vh 4vw;
    margin-bottom: 100px;
}

.gap {
    display: flex;
    gap: 20px;
}

.table-container {
    height: 71vh;
    overflow-y: auto;
    width: 70%;
}

.table {
    height: max-content;
}

.table-container::-webkit-scrollbar {
    width: .2vw;
}

/* Track */
.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.table-container::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.table-container table thead {
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
}

.table-container table td {
    vertical-align: middle;
}

.cart-img {
    display: flex;
    align-items: center;
}

.cart-img img {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
}

.cart-info h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 28px;
    /* font-weight: 600; */
    text-transform: capitalize;
}

.cart-info span {
    color: #d47032;
    font-weight: 600;
}

.cart-info .product-prom {
    font-weight: bold;
    color: var(--promotion-text-color);
}

.cart-info .line-through {
    color: var(--line-through-color);
    text-decoration: line-through;
}

.cart-info p {
    font-size: 24px;
    margin: 0;
}

.product-quantity {
    display: flex;
    align-items: center;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.product-quantity input {
    border: none;
    padding: 5px;
    text-align: center;
    width: 50%;
    font-size: 14px;
    margin: 0;
    -moz-appearance: textfield;
}

.product-quantity input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity input:focus {
    outline: none;
}

.product-quantity button {
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 25%;
}

.product-quantity button:nth-child(1) {
    border-right: 1px solid #ccc;
}

.product-quantity button:nth-child(3) {
    border-left: 1px solid #ccc;
}

.product-quantity button:hover {
    background-color: #eee;
}

.product-quantity button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.trash i {
    font-size: 1.5vw;
    color: #bb2d3b;
    cursor: pointer;
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    gap: 3vw;
    width: 20%;
    padding: 1vw 1vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart-checkout h3 {
    font-size: 2.5vw;
    margin: 0;
    margin-bottom: 1vw;
    /* text-decoration: underline; */
}

.cart-checkout .cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

.cart-checkout p {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .cart-container {
        padding: 4vh 2vw;
    }

    .cart-info h4 {
        font-size: 20px;
    }

    .cart-info p {
        font-size: 18px;
    }

    .cart-checkout h3 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .cart-container {
        padding: 4vh 1vw;
    }

    .cart-row {
        flex-direction: column;
        gap: 6vw;
    }

    .table-container {
        height: 50vh;
        width: 100%;
    }

    .table-container .table {
        width: 100%;
    }

    .cart-img img {
        width: 10vw;
        height: 10vw;
    }

    .cart-info h4 {
        font-size: 22px;
    }

    .cart-info p {
        font-size: 20px;
    }

    .cart-checkout {
        gap: 10vw;
        width: 40%;
        margin: 0 auto;
    }

    .cart-checkout h3 {
        font-size: 4vw;
    }

    .cart-checkout button, .cart-checkout a {
        font-size: 2vw;
    }
}

@media screen and (max-width: 426px) {
    .cart-container {
        padding: 4vh 0;
    }
    
    .cart-row {
        gap: 10vw;
    }

    .cart-img img {
        width: 20vw;
        height: 20vw;
    }

    .cart-info h4 {
        font-size: 22px;
    }

    .cart-info p {
        font-size: 20px;
    }

    .cart-checkout {       
        padding: 4vw;
        gap: 20vw;
        width: 60%;
    }

    .cart-checkout h3 {
        font-size: 6vw;
    }

    .cart-checkout button, .cart-checkout a {
        font-size: 4vw;
        padding: 1vw;
        margin: 0 auto;
        width: 100%;
    }
}