/* flash message */
.flash-message {
    position: fixed;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--hover-button);
    color: white;
    padding: .7vw 3vw;
    z-index: 100;
}

.flash-message p {
    font-size: 1.2vw;
    margin: 0;
}