footer {    
    padding: 20px 50px;
    width: 100%;
    height: 100%;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* left side  */

footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

footer .left .logo {
    width: 20vw;
}

footer .left .logo img {
    width: 100%;
    height: 100%;
}

footer .left .info {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

footer .left .info p {
    font-size: 1.8vw;
}

footer .left .social {
    display: flex;
    flex-direction: column;
    gap: .5vw;
    font-size: 1.7vw;
    padding-left: 2vw;
}

footer .left .social a {
    display: flex;
    gap: 2vw;

    color: var(--secondary-text-color);
    text-decoration: none;
    transition: all .3s ease;
}

footer .left .social a:hover {
    color: var(--hover-text-color);
}

footer .left .social a i {
    width: 2.5vw;
    font-size: 2.5vw;
    margin: 0;
}

footer .left .social a .fa-facebook {
    color: #3b5998;
}

footer .left .social a .fa-whatsapp {
    color: #25d366;
}

footer .left .social a .fa-instagram {
    background: -moz-linear-gradient(60deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: -webkit-linear-gradient(60deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: linear-gradient(60deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* line */
.line {
    width: 2px;
    height: 80%;
    background-color: #000;
}

/* right side  */
footer .right {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 2vw;
    height: 100%;
}

footer .right .map{
    width: 40vw;
    height: 30vw;
}

footer .right .map iframe {
    width: 100%;
    height: 100%;
}

footer .right .coords {
    display: flex;
    flex-direction: column;
    gap: .1vw;
    font-size: 1.5vw;
}

footer .right .coords p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.2vw;
}

footer .right .horaire {
    display: flex;
    flex-direction: column;
    gap: .1vw;
    font-size: 1.5vw;
}

footer .right .horaire p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: .5vw;
}

/* responsivity */
@media screen and (max-width: 1024px) {
    footer {
        padding: 20px 30px;
    }

    footer .left .logo {
        width: 25vw;
    }

    footer .left .info p {
        font-size: 2vw;
    }

    footer .left .social {
        font-size: 2vw;
    }

    footer .left .social a i {
        width: 3vw;
        font-size: 3vw;
    }

    footer .right .map{
        width: 50vw;
        height: 35vw;
    }

    footer .right .coords {
        font-size: 2vw;
    }

    footer .right .coords p {
        gap: 2vw;
    }

    footer .right .horaire {
        font-size: 2vw;
    }

    footer .right .horaire p {
        gap: 1vw;
    }
}


@media screen and (max-width: 768px) {
    /* make the flex column */
    footer .wrapper {
        flex-direction: column;
        gap: 5vw;
    }

    footer .line {
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    footer .left .logo {
        width: 30vw;
    }

    footer .left .info p {
        font-size: 3vw;
    }

    footer .left .social {
        font-size: 3vw;
    }

    footer .left .social a i {
        width: 4vw;
        font-size: 4vw;
    }

    footer .right .map{
        width: 80vw;
        height: 50vw;
    }

    footer .right .coords {
        font-size: 3vw;
    }

    footer .right .coords p {
        gap: 3vw;
    }

    footer .right .horaire {
        font-size: 3vw;
    }

    footer .right .horaire p {
        gap: 2vw;
    }
}

@media screen and (max-width: 426px) {
    footer {
        padding: 20px 20px;
    }

    footer .line {
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    footer .left .logo {
        width: 40vw;
    }

    footer .left .info p {
        font-size: 4vw;
    }

    footer .left .social {
        font-size: 4vw;
    }

    footer .left .social a i {
        width: 6vw;
        font-size: 6vw;
    }

    footer .right .map{
        width: 80vw;
        height: 50vw;
    }

    footer .right .coords {
        font-size: 4vw;
    }

    footer .right .coords p {
        gap: 3vw;
    }

    footer .right .horaire {
        font-size: 4vw;
    }

    footer .right .horaire p {
        gap: 2vw;
    }
}