.liste .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
}

.instructions h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
    text-transform: capitalize;
}

.instructions-main p {
    font-size: 1.2vw;
    margin: 0;
    /* margin-bottom: 1rem; */
}

.instructions-main ul {
    list-style-type: decimal;
}

.instructions-main li {
    font-size: 1.2vw;

}

.alert p {
    font-size: 1.3vw;
    font-weight: 600;   
    margin: 0;
}

.instructions h2 {
    color: #f00;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    text-transform: capitalize;
}


/* form */
.maliste-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    padding: 2vw 0;
    border-radius: 30px;
    width: 60%;
    margin: 20vh auto;
    box-shadow: #1772c1 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, #fbc606 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, #b5e041 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, #fd6500 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, #010000 40px -40px;}

.maliste-container h1 {
    font-size: 2vw;
    text-transform: uppercase;
    text-decoration: underline;
}

.maliste-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

.maliste-container form .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 1rem; */
    width: 100%;
}

.maliste-container form .top .top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    gap: 1rem;
}

.maliste-container form .top .top-left .form-field {
    width: 100%;
}

.maliste-container form .top .top-left input {
    font-size: 1.2vw;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 10px;
}

.maliste-container form .top input[type="file"] {
    font-size: 1.1vw;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    height: 100%;
}


.maliste-container form input[type="submit"] {
    font-size: 1.5vw;
    padding: 0.2rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--primary-button);
    color: #fff;
    cursor: pointer;
    width: 25%;
}

/* responsivity */
@media screen and (max-width: 1024px) {
    .instructions h1 {
        font-size: 3.5vw;
    }

    .instructions-main p {
        font-size: 2vw;
    }
    
    .alert p {
        font-size: 1.7vw;
    }

    .instructions li {
        font-size: 1.7vw;
    }

    .instructions h2 {
        font-size: 2.5vw;
    }

    .maliste-container {
        width: 80%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        gap: 5vw;
        padding: 3vw 5vw;
    }

    .maliste-container form {
        gap: 5vw;
    }

    .maliste-container form .top .top-left {
        width: 50%;

    }

    .maliste-container form .top .top-left input {
        font-size: 2vw;
    }

    .maliste-container form .top input[type="file"] {
        font-size: 1.5vw;
    }

    .maliste-container form input[type="submit"] {
        font-size: 2.5vw;
    }

    .maliste-container h1 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 768px) {
    .instructions h1 {
        font-size: 4vw;
    }

    .instructions-main p {
        font-size: 2.5vw;
    }
    
    .alert p {
        font-size: 2vw;
    }

    .instructions li {
        font-size: 2vw;
    }

    .instructions h2 {
        font-size: 3vw;
    }

    .maliste-container {
        width: 90%;
        gap: 5vw;
        padding: 3vw 5vw;
    }

    .maliste-container form {
        gap: 5vw;
    }

    .maliste-container form .top .top-left input {
        font-size: 2vw;
    }

    .maliste-container form .top input[type="file"] {
        font-size: 1.5vw;
    }

    .maliste-container form input[type="submit"] {
        font-size: 3vw;
    }

    .maliste-container h1 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 426px) {
    .instructions h1 {
        font-size: 5vw;
    }

    .instructions-main p {
        font-size: 3vw;
    }
    
    .alert p {
        font-size: 2.5vw;
    }

    .instructions li {
        font-size: 2.5vw;
    }

    .instructions h2 {
        font-size: 3.5vw;
    }

    .maliste-container {
        width: 90%;
        gap: 5vw;
        padding: 3vw 5vw;
    }

    .maliste-container form {
        gap: 5vw;
    }

    .maliste-container form .top {
        flex-direction: column;
        gap: 5vw;
    }

    .maliste-container form .top .top-left {
        width: 100%;
    }

    .maliste-container form .top .top-left input {
        font-size: 2.5vw;
    }

    .maliste-container form .top input[type="file"] {
        font-size: 2.5vw;
        border: 0;
    }

    .maliste-container form input[type="submit"] {
        font-size: 3.5vw;
        width: 50%;
    }

    .maliste-container h1 {
        font-size: 5vw;
    }
}