.container {
    margin-top: 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

p {
    font-size: 16px;
}

.btn {
    margin-top: 10px;
}

.product-button {
    padding: .5vw;
    width: 100%;
    background-color: var(--primary-button);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-button:hover {
    background-color: var(--hover-button);
}

.product-button:disabled {
    background-color: var(--disabled-button);
    cursor: not-allowed;
}