:root {
    --primary-button : #2ecc71;
    --hover-button: #27ae60;
    --disabled-button: #74d79d;
    --navbar-hover: #c52510;
}

main {
    position: absolute;
    top: 11vw;
    left: 0;
    width: 100%;
    height: calc(100% - 11vw);
}

