:root {
    --primary-button : #2ecc71;
    --hover-button: #27ae60;
    --disabled-button: #74d79d;
    --navbar-hover: #c52510;
}

main {
    position: absolute;
    top: 134px;
    left: 0;
    width: 100%;
    height: calc(100% - 134px);
}

/* flash message */
.flash-message {
    position: fixed;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-green);
    color: white;
    padding: .7vw 3vw;
    z-index: 100;
}

.flash-message p {
    font-size: 1.2vw;
    margin: 0;
}