:root {
    --background-color: #0056c8;
    --primary-button : #2556ab;
    --hover-button: #214a93;
    --disabled-button: #9fb3d4;
    --primary-text-color: #000;
    --secondary-text-color: #555;
    --hover-text-color: #e1a626;
    --navbar-hover: #e0b861;
}

main {
    position: absolute;
    /* top: 10.5vw; */
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    height: calc(100% - 10.5vw);
}

